*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
    border: 1px solid red;
}

body{
    background-color: rgb(231, 192, 192);
    color: #1e293b;
}

.container {
    display: grid;
    grid-template-columns: 240px 1fr 280px;
    grid-template-rows: auto 1fr;
    min-height: 100vh;
}

.header {
    grid-column: 2/ 4;
    background-color: aquamarine;
    
    display: flex;
    font-size: 18px;
    justify-content: space-between;

}

.header form {
    display: flex;
    align-items: center;
    gap: 15px;
}

.header input {
    border: 2px solid #ccc;
    border-radius: 20px;
    font-size: 18px;
    width: 200px;
    
}

.header2 {
    display: flex;
    align-items: center;
    gap: 10px;
}

.header3{
    display: flex;
    align-items: center;
    gap: 10px;
}

.header3 img {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    object-fit: cover;

}

.header4 p{
    font-size: 14px;
    font-weight: bold;
}

.header5 {
    display: flex;
    gap: 15px;
    align-items: center;
}

.header5 button{
    padding: 8px 16px;
    border-radius: 5px;
    font-weight: bold;
    background-color: #1a73e8;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.main-sidebar{
    grid-column: 1/ 2;
    grid-row: 1/ 3;
    background-color: #1e293b;
    color: #fff;
    padding: 20px;
    

}
.sidebar2{
    font-size: 18px;
    margin-top: 50px;
}

.sidebar3{
    font-size: 18px;
    margin-top: 50px;
    padding-top: 15px;
}

.main-content{
    grid-column: 2/ 3;
    padding: 20px;
}

.content1 h3{
    font-size: 20px;
    margin-bottom: 15px;
    color: #1e293b;
}

.content2{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    gap: 20px;
}

.content3{
    background-color: #ffff;
    padding: 20px;
    border-radius: 8px;
}

.content3 p{
    font-size: 13px;
    color: #666;
    line-height: 1,5;
}

.content4{
    display: flex;
    gap: 15px;
    margin-top: 15px;
}

.content4 img{
    width: 24px;
    height: 24px;
}

.right-sidebar{
    grid-column: 3/ 4;
    background-color: #fff;
    position: 20px;
}

.announcements h3,
.trendind h3{
    font-size: 18px;
    margin-bottom: 15px;
    color: #1e293b;
}