*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    background-color: aliceblue;
    color: #1e293b;
}

.container{
    display: grid;
    grid-template-columns: 260px 1fr;
    grid-template-rows: auto 1fr;
    min-height: 100vh;
}

.main-sidebar{
    grid-column: 1/ 2;
    grid-row: 1/ 3;
    background-color: #1992d4;
    color: aliceblue;
    padding: 20px 25px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.sidebar{
    display: flex;
    align-items: center;
    font-size: 24px;
    font-weight: bold;
}

.sidebar svg{
    width: 45px;
    height: 45px;
    
}

.left-menu,
.left-bot-menu{
    display: flex;
    align-items: center;
    font-size: 18px;
    font-weight: bold;
    gap: 20px;
}

.left-menu svg,
.left-bot-menu svg{
    width: 24px;
    height: 24px;
}

.header{
    grid-column: 2/ 3;
    
    background-color: #fff;
    padding: 20px 40px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.top-row{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.search-section{
    display: flex;
    align-items: center;
    gap: 15px;
    max-width: 700px;
}

.search-section svg{
    width: 22px;
    height: 22px;
}

.search-section input{
    padding: 8px 16px;
    background-color: #e2e8f0;
    border-radius: 20px;
    font-size: 16px;
}

.user-section{
    display: flex;
    align-items: center;
    gap: 25px;
}

.user-section svg {
    width: 24px;
    height: 24px;

}

.bottom-row{
    display: flex;
    align-items: center;
    gap: 20px;
}

.bottom-row svg{
    height: 24px;
    width: 24px;
}
.bottom-section{
    font-size: 12pxpx;
    font-weight: bold;
}

.menus{
    display: flex;
    gap: 20px;
}

.menus button{
    background-color: #1992d4;
    color: white;
    padding: 8px 24px;
    border-radius: 20px;
    font-weight: bold;

}
.main-content{
    grid-column: 2/ 3;
    padding: 30px;
    display: grid;
    grid-template-columns: 1fr 320px;
    gap: 30px;
    align-items: start;
}

.title{
    font-size: 18px;
    margin-bottom: 15px;
}

.card-section{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 25px;
}

